<userinf>
  <div class="page-content">

    <div class="mdl-grid" ng-if="userinf.userData.login != null">

      <div class="mdl-cell mdl-cell--6-col-desktop mdl-cell mdl-cell--8-col-tablet">
        <div class="acme-card-square mdl-card mdl-shadow--2dp">
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">{{ userinf.userData.login }}</h2>
          </div>
          <br>
          <div class="mdl-card__media-user">
            <img ng-src="{{ userinf.userData.avatar_url }}" alt="{{ userinf.userData.login }}">
          </div>
          <div class="mdl-card__supporting-text">
            ID: {{ userinf.userData.id }}
            <br> Type: {{ userinf.userData.type }}
            <br>
            <div ng-if="userinf.userData.site_admin">
              Site admin
            </div>
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" ng-href="{{ userinf.userData.html_url }}" target="_blank">
                Website
              </a>

          </div>
        </div>
      </div>
      <div class="mdl-cell mdl-cell--1-col mdl-cell--1-col-tablet"></div>
      <div class="mdl-cell mdl-cell--5-col-desktop mdl-cell mdl-cell--7-col-tablet ">
        <h4 ng-if="userinf.userData.name != null"><b>Name:</b><br> &emsp; {{ userinf.userData.name }}</h4>
        <h4 ng-if="userinf.userData.company != null"><b>Company:</b><br> &emsp; {{ userinf.userData.company }}</h4>
        <h4 ng-if="userinf.userData.blog != null"><b>Blog:</b><br> &emsp; <a href="{{ userinf.userData.blog }}" target="_blank">{{ userinf.userData.blog }}</a></h4>
        <h4 ng-if="userinf.userData.location != null"><b>Location:</b><br> &emsp; {{ userinf.userData.location }}</h4>
        <h4 ng-if="userinf.userData.email != null"><b>E-mail:</b><br> &emsp; <a href="mailto:{{ userinf.userData.email }}">{{ userinf.userData.email }}</a></h4>
        <h4 ng-if="userinf.userData.bio != null"><b>Bio:</b><br> &emsp; {{ userinf.userData.bio }}</h4>
        <h4 ng-if="userinf.userData.public_repos != 0"><b>Public repositories:</b><br> &emsp; {{ userinf.userData.public_repos }}</h4>
        <h4 ng-if="userinf.userData.public_gists != 0"><b>Public gists:</b><br> &emsp; {{ userinf.userData.public_gists }}</h4>
        <h4 ng-if="userinf.userData.followers != 0"><b>Followers:</b><br> &emsp; {{ userinf.userData.followers }}</h4>
        <h4 ng-if="userinf.userData.following != 0"><b>Following:</b><br> &emsp; {{ userinf.userData.following }} accounts</h4>
        <h4><b>Created at:</b><br> &emsp; {{ userinf.userData.created_at | date }}</h4>
        <h4><b>Updated at:</b><br> &emsp; {{ userinf.userData.updated_at | date }}</h4>
        <h4 ng-if="userinf.userData.hireable"><b>Hireable</b></h4>
      </div>


    </div>
  </div>
</userinf>